@page "/counter"
@rendermode InteractiveServer
@inject ICodeSmellDetectionService CodeSmellDetectionService

<PageTitle>Code Smell Detection Counter</PageTitle>

<h1>Code Smell Detection Counter</h1>

<p role="status">Current code smell count: @currentCount</p>

<button class="btn btn-primary" @onclick="DetectCodeSmells">Click me</button>

@code {
    private int currentCount = 0;

    private void DetectCodeSmells()
    {
        var codeSmell = CodeSmellDetectionService.Detect();
        currentCount = codeSmell.Count();
    }
}